{% extends 'base.html' %}
{% load static %}

{% block title %}О нас | CareerCenter{% endblock %}



{% block content %}
<style>
    .page-content {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        margin: 20px auto;
        padding: 20px;
        max-width: 800px;
        background-color: #f9f9f9;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .page-content p {
        margin-bottom: 15px;
    }

    .page-content ul {
        padding-left: 20px;
    }

    .page-content ul li {
        margin-bottom: 10px;
    }
</style>

<div class="page-content">

    <p>Центр карьеры Кубанского ГАУ создан с целью содействия студентам и выпускникам университета в трудоустройстве и в подборе необходимых кадров для предприятий и учреждений.</p>
    <p>Центром организуются встречи студентов с работодателями, проводятся мастер-классы по трудоустройству с представителями компаний и организаций, проводятся индивидуальные и коллективные встречи с обучающимися, организуется проведение практик на предприятиях потенциальных работодателей для дальнейшего трудоустройства.</p>
    <p>Для выполнения поставленных задач на Центр карьеры возложены следующие функции:</p>
    <ul>
        <li>организация системы взаимодействия с центрами занятости населения;</li>
        <li>взаимодействие и сотрудничество с предприятиями и организациями края, а также органами государственного и муниципального управления по вопросам трудоустройства выпускников;</li>
        <li>формирование регулярных индивидуальных рассылок на электронную почту студентов и выпускников с карьерной информацией;</li>
        <li>проведение карьерных выступлений сотрудниками Центра на кураторский часах;</li>
        <li>проведение карьерных часов для обучающихся, лекций и встреч с представителями работодателей-партнеров;</li>
        <li>ведение социальных сетей с использованием инструментов автоматизации и составления контент-планов;</li>
        <li>формирование индивидуальных подборок резюме по запросу кадровых партнеров;</li>
        <li>сопровождение отклика обучающихся на предложения кадровых партнеров;</li>
        <li>цифровое формирование кадровых резервов для организаций-партнеров (поддержка реестра студентов и выпускников, потенциально подходящих определенным кадровым партнерам в будущем);</li>
        <li>оперативный мониторинг обновления кадровых запросов партеров из открытых источников (актуализация вакансий);</li>
        <li>обработка предложений партнеров о трансляции студентам информации о проводимых внешних карьерных мероприятиях;</li>
        <li>организация и проведение мероприятий с кадровыми партнерами.</li>
    </ul>
</div>


{% endblock %}