<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вакансии</title>
    <link rel="stylesheet" href="../css/evcss.css">
</head>
<body>

    <header>
        <div class="logo">
            <img src="../assets/image_9d922d21.png" alt="CareerCenter Logo">
        </div>
        <h1>Вакансии</h1>
        <div class="login">
            <button>Вход</button>
        </div>
    </header>

    <main>
        <div class="buttons">
            <button class="btn" onclick="window.location.href='vacans.html'">Вакансии</button>
            <button class="btn" onclick="window.location.href='events.html'">События</button>
        </div>
        
        <div class="content">
            <div class="events-list">
                <input type="text" placeholder="Поиск" class="search-bar">
                <button class="search-button">Поиск</button>

                <p>Список вакансий:</p>
        <ul class="job-list">
            <li><a href="#">Главный специалист Испытательной лаборатории Краснодарского пункта в г. Ейске</a></li>
            <li><a href="#">Ветеринарный врач</a></li>
            <li><a href="#">Инженер 1 категории</a></li>
            <li><a href="#">Специалист 1 категории отдела мониторинга и прогнозирования</a></li>
            <li><a href="#">Помощник электромеханика по лифтам</a></li>
            <li><a href="#">Менеджер по продажам</a></li>
        </ul>
            </div>
        </div>
    </main>
</body>
</html>

